body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f9e3e3;
    font-family: 'Arial', sans-serif;
    flex-direction: column;
  }
  
  .container {
    text-align: center;
  }
  
  h1 {
    font-size: 2.5em;
    color: #d32f2f;
  }
  
  .yes-button {

    --glow-color: rgb(9, 255, 66);

    --glow-spread-color: rgba(122, 180, 116, 0.781);

    --enhanced-glow-color: rgb(231, 206, 255);

    --btn-color: rgb(114, 144, 70);

    border: 0.25em solid var(--glow-color);

    padding: 1em 3em;

    color: var(--glow-color);

    font-size: 15px;

    font-weight: bold;

    cursor: pointer;

    background-color: var(--btn-color);

    border-radius: 1em;

    outline: none;

    box-shadow: 0 0 1em 0.25em var(--glow-color),

      0 0 4em 1em var(--glow-spread-color),

      inset 0 0 0.74em 0.25em var(--glow-color);

    text-shadow: 0 0 0.5em var(--glow-color);

    position: relative;

    transition: all 0.3s;

  }



  button::after {

    pointer-events: none;

    content: "";

    position: absolute;

    top: 120%;

    left: 0;

    height: 100%;

    width: 100%;

    background-color: var(--glow-spread-color);

    filter: blur(2em);

    opacity: 0.7;

    transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);

  }



  button:hover {

    color: var(--btn-color);

    background-color: var(--glow-color);

    box-shadow: 0 0 1em 0.25em var(--glow-color),

    0 0 4em 2em var(--glow-spread-color),

    inset 0 0 0.75em 0.25em var(--glow-color);

  }



  button:active {

    box-shadow: 0 0 0.6em 0.25em var(--glow-color),

    0 0 2.5em 2em var(--glow-spread-color),

    inset 0 0 0.5em 0.25em var(--glow-color);

  }
  
  
 .no-button {

    --glow-color: rgb(255, 0, 0);

    --glow-spread-color: rgba(234, 150, 150, 0.781);

    --enhanced-glow-color: rgb(231, 206, 255);

    --btn-color: rgb(196, 132, 132);

    border: 0.25em solid var(--glow-color);

    padding: 1em 3em;

    color: var(--glow-color);

    font-size: 15px;

    font-weight: bold;

    cursor: pointer;

    background-color: var(--btn-color);

    border-radius: 1em;

    outline: none;

    box-shadow: 0 0 1em 0.25em var(--glow-color),

      0 0 4em 1em var(--glow-spread-color),

      inset 0 0 0.74em 0.25em var(--glow-color);

    text-shadow: 0 0 0.5em var(--glow-color);

    position: relative;

    transition: all 0.3s;

  }



  button::after {

    pointer-events: none;

    content: "";

    position: absolute;

    top: 120%;

    left: 0;

    height: 100%;

    width: 100%;

    background-color: var(--glow-spread-color);

    filter: blur(2em);

    opacity: 0.7;

    transform: perspective(1.5em) rotateX(35deg) scale(1, 0.6);

  }



  button:hover {

    color: var(--btn-color);

    background-color: var(--glow-color);

    box-shadow: 0 0 1em 0.25em var(--glow-color),

    0 0 4em 2em var(--glow-spread-color),

    inset 0 0 0.75em 0.25em var(--glow-color);

  }



  button:active {

    box-shadow: 0 0 0.6em 0.25em var(--glow-color),

    0 0 2.5em 2em var(--glow-spread-color),

    inset 0 0 0.5em 0.25em var(--glow-color);

  }
.gif_container img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    margin-top: 20px;
  }
  


  
 
